.elementor-33817
  .elementor-element.elementor-element-aa18864:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33817
  .elementor-element.elementor-element-aa18864
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff8ed;
}
.elementor-33817 .elementor-element.elementor-element-aa18864 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 40px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-aa18864
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817 .elementor-element.elementor-element-5763ffb {
  --spacer-size: 180px;
}
.elementor-33817
  .elementor-element.elementor-element-030b804
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-030b804 {
  width: 78.111%;
  max-width: 78.111%;
}
.elementor-33817 .elementor-element.elementor-element-d5d4ae6 {
  --spacer-size: 16px;
}
.elementor-33817 .elementor-element.elementor-element-f32e94f {
  color: var(--e-global-color-text);
  width: 100%;
  max-width: 100%;
}
.elementor-33817 .elementor-element.elementor-element-ce8bd85 {
  --spacer-size: 58px;
}
.elementor-33817
  .elementor-element.elementor-element-5fc4958
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-5fc4958 {
  width: auto;
  max-width: auto;
}
.elementor-33817 .elementor-element.elementor-element-29c3f25 {
  --spacer-size: 120px;
}
.elementor-bc-flex-widget
  .elementor-33817
  .elementor-element.elementor-element-86a9aa9.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-33817
  .elementor-element.elementor-element-86a9aa9.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-00c285a {
  left: 4px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-00c285a {
  right: 4px;
}
.elementor-33817 .elementor-element.elementor-element-00c285a {
  top: 108px;
}
.elementor-33817
  .elementor-element.elementor-element-00c285a:not(.elementor-widget-image)
  .elementor-widget-container {
  -webkit-mask-image: url(../images/slider-3-mask-png.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-33817
  .elementor-element.elementor-element-00c285a.elementor-widget-image
  .elementor-widget-container
  img {
  -webkit-mask-image: url(../images/slider-3-mask-png.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-33817
  .elementor-element.elementor-element-856b23b
  > .elementor-widget-container {
  margin: 0px -140px 0px -140px;
}
.elementor-33817 .elementor-element.elementor-element-bad0c12 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 120px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-bad0c12
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-0fac89b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-33817
  .elementor-element.elementor-element-0fac89b
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/about-03-bg.png");
  background-position: 110% 9%;
  background-repeat: no-repeat;
}
.elementor-33817
  .elementor-element.elementor-element-0fac89b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-0fac89b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817 .elementor-element.elementor-element-7ac1a4c {
  text-align: left;
}
.elementor-33817 .elementor-element.elementor-element-7ac1a4c img {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33817 .elementor-element.elementor-element-9676b4f img {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33817 .elementor-element.elementor-element-9676b4f {
  width: auto;
  max-width: auto;
  bottom: -53px;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-9676b4f {
  right: 0px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-9676b4f {
  left: 0px;
}
.elementor-33817
  .elementor-element.elementor-element-983a3d4
  > .elementor-widget-container {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 24px 0px;
}
.elementor-33817 .elementor-element.elementor-element-917a162 {
  color: var(--e-global-color-text);
  width: 631px;
  max-width: 631px;
}
.elementor-33817
  .elementor-element.elementor-element-917a162
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-33817 .elementor-element.elementor-element-4e3a3bb {
  columns: 2;
  column-gap: 0px;
}
.elementor-33817
  .elementor-element.elementor-element-4e3a3bb
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
}
.elementor-33817 .elementor-element.elementor-element-2a194d0 {
  --spacer-size: 50px;
}
.elementor-33817
  .elementor-element.elementor-element-cb6cd17
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-cb6cd17 {
  width: auto;
  max-width: auto;
}
.elementor-33817 .elementor-element.elementor-element-26176a0 {
  width: auto;
  max-width: auto;
  bottom: -170px;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-26176a0 {
  right: -117px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-26176a0 {
  left: -117px;
}
.elementor-33817 .elementor-element.elementor-element-c622a0f {
  padding: 0px 0px 100px 0px;
}
.elementor-33817 .elementor-element.elementor-element-11e1680 {
  text-align: center;
}
.elementor-33817
  .elementor-element.elementor-element-11e1680
  > .elementor-widget-container {
  padding: 48px 0px 48px 0px;
}
.elementor-33817 .elementor-element.elementor-element-f39d347 {
  padding: 140px 0px 140px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-8d4ffcb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 64px 0px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-d9f78ba
  > .elementor-widget-container {
  margin: 32px 0px 0px 0px;
  padding: 0px 0px 42px 0px;
}
.elementor-33817 .elementor-element.elementor-element-ea0fed5 {
  color: var(--e-global-color-text);
}
.elementor-33817
  .elementor-element.elementor-element-f60d769
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-0eb9cc8
  > .elementor-container {
  max-width: 200px;
}
.elementor-33817
  .elementor-element.elementor-element-5a27957.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33817
  .elementor-element.elementor-element-5a27957
  > .elementor-element-populated,
.elementor-33817
  .elementor-element.elementor-element-5a27957
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-33817
  .elementor-element.elementor-element-5a27957
  > .elementor-background-slideshow {
  border-radius: 100% 100% 100% 100%;
}
.elementor-33817 .elementor-element.elementor-element-15beab9 {
  text-align: center;
  top: -21px;
  z-index: 2;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-15beab9 {
  left: 276px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-15beab9 {
  right: 276px;
}
.elementor-33817 .elementor-element.elementor-element-d2e8a14 {
  text-align: center;
  top: 33px;
  z-index: 2;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
  left: 280px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
  right: 280px;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-6b35b0e {
  left: 146px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-6b35b0e {
  right: 146px;
}
.elementor-33817 .elementor-element.elementor-element-6b35b0e {
  top: -82px;
}
.elementor-bc-flex-widget
  .elementor-33817
  .elementor-element.elementor-element-4d04d7b.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-33817
  .elementor-element.elementor-element-4d04d7b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-33817 .elementor-element.elementor-element-593f2ac img {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33817
  .elementor-element.elementor-element-2ed4b0a
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-33817
  .elementor-element.elementor-element-2ed4b0a
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 64px;
}
.elementor-33817
  .elementor-element.elementor-element-4f06258
  > .elementor-widget-container {
  padding: 50px 0px 38px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-4781380
  > .elementor-widget-container {
  margin: 48px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-357685b {
  padding: 64px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-a3d5659 {
  text-align: center;
}
.elementor-33817
  .elementor-element.elementor-element-a3d5659
  > .elementor-widget-container {
  padding: 0px 0px 42px 0px;
}
.elementor-33817 .elementor-element.elementor-element-dd45155 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 50px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-dd45155
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-3a1059c:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-33817
  .elementor-element.elementor-element-3a1059c
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/services-bg.png");
  background-position: 18% 100%;
  background-repeat: no-repeat;
}
.elementor-33817
  .elementor-element.elementor-element-3a1059c
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-3a1059c
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-6e17352
  > .elementor-widget-container {
  padding: 0px 0px 64px 0px;
}
.elementor-33817 .elementor-element.elementor-element-6e17352 {
  width: 91.373%;
  max-width: 91.373%;
}
.elementor-33817 .elementor-element.elementor-element-c70cbf5 {
  --spacer-size: 270px;
}
.elementor-33817
  .elementor-element.elementor-element-c874d6a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33817
  .elementor-element.elementor-element-c874d6a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/price-bg.png");
  background-position: 45% 50%;
  background-repeat: no-repeat;
}
.elementor-33817 .elementor-element.elementor-element-c874d6a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 130px 0px 150px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-c874d6a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-033abdb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 120px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-f3b3bbe {
  --spacer-size: 80px;
}
.elementor-33817
  .elementor-element.elementor-element-a4d44cd
  > .elementor-widget-container {
  padding: 0px 0px 28px 0px;
}
.elementor-33817 .elementor-element.elementor-element-605b6a6 {
  color: var(--e-global-color-text);
}
.elementor-33817
  .elementor-element.elementor-element-605b6a6
  > .elementor-widget-container {
  padding: 0px 0px 32px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-ddbc400
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-6148a87
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-29dea8b
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-4cca837:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33817
  .elementor-element.elementor-element-4cca837
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/testimonials-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.elementor-33817 .elementor-element.elementor-element-4cca837 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-4cca837
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817 .elementor-element.elementor-element-27e8c0c {
  text-align: center;
}
.elementor-33817
  .elementor-element.elementor-element-27e8c0c
  > .elementor-widget-container {
  padding: 0px 0px 36px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-07713fa:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33817
  .elementor-element.elementor-element-07713fa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/events-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.elementor-33817 .elementor-element.elementor-element-07713fa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 110px 0px 110px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-07713fa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-39c182e
  > .elementor-widget-container {
  padding: 0px 0px 32px 0px;
}
.elementor-33817 .elementor-element.elementor-element-8ca360e {
  color: var(--e-global-color-text);
}
.elementor-33817
  .elementor-element.elementor-element-8ca360e
  > .elementor-widget-container {
  padding: 0px 0px 32px 0px;
}
.elementor-bc-flex-widget
  .elementor-33817
  .elementor-element.elementor-element-2063287.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-33817
  .elementor-element.elementor-element-2063287.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-33817
  .elementor-element.elementor-element-2063287.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33817 .elementor-element.elementor-element-812a58b {
  width: auto;
  max-width: auto;
}
.elementor-33817 .elementor-element.elementor-element-e39e554 {
  padding: 90px 15px 120px 15px;
}
.elementor-33817 .elementor-element.elementor-element-75d6231 {
  text-align: center;
}
.elementor-33817
  .elementor-element.elementor-element-75d6231
  > .elementor-widget-container {
  padding: 0px 0px 64px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-af2c965
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-104fd5f {
  padding: 0px 0px 120px 0px;
}
.elementor-33817
  .elementor-element.elementor-element-2c94e41.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33817 .elementor-element.elementor-element-16a6506 {
  width: auto;
  max-width: auto;
  top: -106px;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-16a6506 {
  left: 151px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-16a6506 {
  right: 151px;
}
.elementor-33817 .elementor-element.elementor-element-e69e6b6 {
  width: auto;
  max-width: auto;
  top: 179px;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
  left: 5px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
  right: 5px;
}
.elementor-33817 .elementor-element.elementor-element-db52fba {
  width: auto;
  max-width: auto;
  top: 373px;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-db52fba {
  left: 1211px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-db52fba {
  right: 1211px;
}
.elementor-33817 .elementor-element.elementor-element-8c40a32 {
  width: auto;
  max-width: auto;
  top: 249px;
}
body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-8c40a32 {
  left: 1440px;
}
body.rtl .elementor-33817 .elementor-element.elementor-element-8c40a32 {
  right: 1440px;
}
.elementor-33817
  .elementor-element.elementor-element-06477bb
  > .elementor-container {
  max-width: 1000px;
}
.elementor-33817
  .elementor-element.elementor-element-e6f5368.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33817
  .elementor-element.elementor-element-e6f5368:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-33817
  .elementor-element.elementor-element-e6f5368
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/subscribe-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.elementor-33817
  .elementor-element.elementor-element-e6f5368
  > .elementor-element-populated,
.elementor-33817
  .elementor-element.elementor-element-e6f5368
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-33817
  .elementor-element.elementor-element-e6f5368
  > .elementor-background-slideshow {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33817
  .elementor-element.elementor-element-e6f5368
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-e6f5368
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33817
  .elementor-element.elementor-element-e6f5368
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 130px 15px 79px 15px;
}
.elementor-33817 .elementor-element.elementor-element-1721e80 {
  text-align: center;
}
.elementor-33817
  .elementor-element.elementor-element-1721e80
  > .elementor-widget-container {
  padding: 0px 0px 32px 0px;
}
.elementor-33817 .elementor-element.elementor-element-7e260ef {
  text-align: center;
  color: var(--e-global-color-text);
}
.elementor-33817
  .elementor-element.elementor-element-6942cd2
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-6942cd2 {
  width: 480px;
  max-width: 480px;
}
.elementor-33817 .elementor-element.elementor-element-438fbf1 {
  --spacer-size: 40px;
}
.elementor-33817
  .elementor-element.elementor-element-515cf7e
  > .elementor-widget-container {
  margin: 0px 24px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-515cf7e {
  width: auto;
  max-width: auto;
}
.elementor-33817
  .elementor-element.elementor-element-9e7c53a
  > .elementor-widget-container {
  margin: -6px 0px 0px 0px;
}
.elementor-33817 .elementor-element.elementor-element-9e7c53a {
  width: auto;
  max-width: auto;
}
@media (min-width: 768px) {
  .elementor-33817 .elementor-element.elementor-element-0c2a517 {
    width: 44.748%;
  }
  .elementor-33817 .elementor-element.elementor-element-86a9aa9 {
    width: 55.21%;
  }
  .elementor-33817 .elementor-element.elementor-element-69ac262 {
    width: 16%;
  }
  .elementor-33817 .elementor-element.elementor-element-a736f43 {
    width: 84%;
  }
  .elementor-33817 .elementor-element.elementor-element-033abdb {
    width: 43.898%;
  }
  .elementor-33817 .elementor-element.elementor-element-c457b3c {
    width: 56.102%;
  }
  .elementor-33817 .elementor-element.elementor-element-7ed5e0a {
    width: 40%;
  }
  .elementor-33817 .elementor-element.elementor-element-2063287 {
    width: 60%;
  }
}
@media (max-width: 1366px) and (min-width: 768px) {
  .elementor-33817 .elementor-element.elementor-element-69ac262 {
    width: 3%;
  }
  .elementor-33817 .elementor-element.elementor-element-a736f43 {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-8d4ffcb {
    width: 50%;
  }
  .elementor-33817 .elementor-element.elementor-element-2ed4b0a {
    width: 50%;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .elementor-33817 .elementor-element.elementor-element-0c2a517 {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-86a9aa9 {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-0fac89b {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-b651acf {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-8d4ffcb {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-2ed4b0a {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-3a1059c {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-f601f9a {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-033abdb {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-c457b3c {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-7ed5e0a {
    width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-2063287 {
    width: 100%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .elementor-33817 .elementor-element.elementor-element-4608dfb {
    width: 50%;
  }
  .elementor-33817 .elementor-element.elementor-element-7ddd3ed {
    width: 50%;
  }
  .elementor-33817 .elementor-element.elementor-element-4f6e57d {
    width: 50%;
  }
  .elementor-33817 .elementor-element.elementor-element-94d1b7e {
    width: 50%;
  }
}
@media (min-width: 1900px) {
  .elementor-33817 .elementor-element.elementor-element-030b804 {
    width: 616px;
    max-width: 616px;
  }
  .elementor-33817 .elementor-element.elementor-element-f32e94f {
    width: 558px;
    max-width: 558px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-00c285a {
    left: -1px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-00c285a {
    right: -1px;
  }
  .elementor-33817 .elementor-element.elementor-element-00c285a {
    top: 111px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-15beab9 {
    left: 302px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-15beab9 {
    right: 302px;
  }
  .elementor-33817 .elementor-element.elementor-element-15beab9 {
    top: -14px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
    left: 302px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
    right: 302px;
  }
  .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
    top: 47px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-6b35b0e {
    left: 172px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-6b35b0e {
    right: 172px;
  }
  .elementor-33817 .elementor-element.elementor-element-6b35b0e {
    top: -69px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-16a6506 {
    left: 115px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-16a6506 {
    right: 115px;
  }
  .elementor-33817 .elementor-element.elementor-element-16a6506 {
    top: -91px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    left: -17px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    right: -17px;
  }
  .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    top: 146px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-db52fba {
    left: 1215px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-db52fba {
    right: 1215px;
  }
  .elementor-33817 .elementor-element.elementor-element-db52fba {
    top: 392px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-8c40a32 {
    left: 1479px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-8c40a32 {
    right: 1479px;
  }
  .elementor-33817 .elementor-element.elementor-element-8c40a32 {
    top: 236px;
  }
  .elementor-33817 .elementor-element.elementor-element-6942cd2 {
    width: 523px;
    max-width: 523px;
  }
}
@media (max-width: 1599px) {
  .elementor-33817 .elementor-element.elementor-element-030b804 {
    width: 99.871%;
    max-width: 99.871%;
  }
  .elementor-33817 .elementor-element.elementor-element-f32e94f {
    width: 451px;
    max-width: 451px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-00c285a {
    left: 5px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-00c285a {
    right: 5px;
  }
  .elementor-33817 .elementor-element.elementor-element-00c285a {
    top: 91px;
  }
  .elementor-33817 .elementor-element.elementor-element-9676b4f {
    bottom: -53px;
  }
  .elementor-33817 .elementor-element.elementor-element-f39d347 {
    padding: 140px 0px 140px 0px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-15beab9 {
    left: 251px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-15beab9 {
    right: 251px;
  }
  .elementor-33817 .elementor-element.elementor-element-15beab9 {
    top: 4px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
    left: 255px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
    right: 255px;
  }
  .elementor-33817 .elementor-element.elementor-element-d2e8a14 {
    top: 58px;
  }
  .elementor-33817 .elementor-element.elementor-element-6b35b0e {
    width: 426px;
    max-width: 426px;
    top: -44px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-6b35b0e {
    left: 100px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-6b35b0e {
    right: 100px;
  }
  .elementor-33817 .elementor-element.elementor-element-812a58b {
    width: 532px;
    max-width: 532px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    left: -13px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    right: -13px;
  }
  .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    top: 303px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-db52fba {
    left: 906px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-db52fba {
    right: 906px;
  }
  .elementor-33817 .elementor-element.elementor-element-db52fba {
    top: 367px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-8c40a32 {
    left: 1153px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-8c40a32 {
    right: 1153px;
  }
  .elementor-33817 .elementor-element.elementor-element-8c40a32 {
    top: 283px;
  }
  .elementor-33817 .elementor-element.elementor-element-6942cd2 {
    width: 514px;
    max-width: 514px;
  }
}
@media (max-width: 1366px) {
  .elementor-33817 .elementor-element.elementor-element-aa18864 {
    padding: 0px 0px 64px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-030b804 {
    width: 101.93%;
    max-width: 101.93%;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-00c285a {
    left: 9px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-00c285a {
    right: 9px;
  }
  .elementor-33817 .elementor-element.elementor-element-00c285a {
    top: 118px;
  }
  .elementor-33817
    .elementor-element.elementor-element-9e17b83
    > .elementor-container {
    max-width: 605px;
  }
  .elementor-33817 .elementor-element.elementor-element-f39d347 {
    padding: 140px 15px 140px 15px;
  }
  .elementor-33817
    .elementor-element.elementor-element-2ed4b0a
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-c874d6a {
    padding: 129px 15px 150px 15px;
  }
  .elementor-33817
    .elementor-element.elementor-element-033abdb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-07713fa {
    padding: 80px 0px 80px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-16a6506 {
    width: 172px;
    max-width: 172px;
    top: -60px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-16a6506 {
    left: 15px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-16a6506 {
    right: 15px;
  }
  .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    width: 214px;
    max-width: 214px;
    top: 375px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    left: 25px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    right: 25px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-db52fba {
    left: 859px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-db52fba {
    right: 859px;
  }
  .elementor-33817 .elementor-element.elementor-element-db52fba {
    top: 382px;
  }
}
@media (max-width: 1199px) {
  .elementor-33817
    .elementor-element.elementor-element-0c2a517.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33817 .elementor-element.elementor-element-5763ffb {
    --spacer-size: 90px;
  }
  .elementor-33817 .elementor-element.elementor-element-030b804 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-f32e94f {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-5fc4958 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-29c3f25 {
    --spacer-size: 48px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-00c285a {
    left: 6px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-00c285a {
    right: 6px;
  }
  .elementor-33817 .elementor-element.elementor-element-00c285a {
    top: 96px;
  }
  .elementor-33817 .elementor-element.elementor-element-7ac1a4c {
    text-align: center;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-9676b4f {
    right: -20px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-9676b4f {
    left: -20px;
  }
  .elementor-33817 .elementor-element.elementor-element-9676b4f {
    bottom: -73px;
  }
  .elementor-33817
    .elementor-element.elementor-element-b651acf.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33817
    .elementor-element.elementor-element-a736f43.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33817 .elementor-element.elementor-element-983a3d4 {
    text-align: center;
  }
  .elementor-33817
    .elementor-element.elementor-element-983a3d4
    > .elementor-widget-container {
    margin: 48px 0px 0px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-917a162 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-cb6cd17 {
    text-align: center;
  }
  .elementor-33817
    .elementor-element.elementor-element-8d4ffcb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-d9f78ba {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-ea0fed5 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-f60d769 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-4f06258 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-4781380 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-dd45155 {
    padding: 100px 15px 100px 15px;
  }
  .elementor-33817
    .elementor-element.elementor-element-3a1059c.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33817 .elementor-element.elementor-element-6e17352 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-c70cbf5 {
    --spacer-size: 32px;
  }
  .elementor-33817 .elementor-element.elementor-element-f3b3bbe {
    --spacer-size: 12px;
  }
  .elementor-33817 .elementor-element.elementor-element-a4d44cd {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-605b6a6 {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-2add6cf {
    padding: 64px 0px 0px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-39c182e {
    text-align: center;
  }
  .elementor-33817 .elementor-element.elementor-element-8ca360e {
    text-align: center;
  }
  .elementor-33817
    .elementor-element.elementor-element-2063287
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 80px 0px 48px 0px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-16a6506 {
    left: 639px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-16a6506 {
    right: 639px;
  }
  .elementor-33817 .elementor-element.elementor-element-16a6506 {
    top: -105px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    left: -66px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    right: -66px;
  }
  .elementor-33817 .elementor-element.elementor-element-e69e6b6 {
    top: 427px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-db52fba {
    left: 678px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-db52fba {
    right: 678px;
  }
  .elementor-33817 .elementor-element.elementor-element-db52fba {
    top: 445px;
  }
}
@media (max-width: 991px) {
  .elementor-33817 .elementor-element.elementor-element-5763ffb {
    --spacer-size: 150px;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-00c285a {
    left: 9px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-00c285a {
    right: 9px;
  }
  .elementor-33817 .elementor-element.elementor-element-00c285a {
    top: 91px;
  }
  .elementor-33817 .elementor-element.elementor-element-4e3a3bb {
    columns: 1;
    width: 261px;
    max-width: 261px;
  }
  .elementor-33817
    .elementor-element.elementor-element-4e3a3bb
    > .elementor-widget-container {
    padding: 4px 4px 4px 4px;
  }
  .elementor-33817 .elementor-element.elementor-element-2a194d0 {
    --spacer-size: 16px;
  }
  .elementor-33817
    .elementor-element.elementor-element-11e1680
    > .elementor-widget-container {
    padding: 48px 0px 24px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-f39d347 {
    padding: 90px 15px 130px 15px;
  }
  .elementor-33817
    .elementor-element.elementor-element-8d4ffcb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-c70cbf5 {
    --spacer-size: 64px;
  }
  .elementor-33817 .elementor-element.elementor-element-c874d6a {
    padding: 90px 15px 90px 15px;
  }
  .elementor-33817 .elementor-element.elementor-element-4cca837 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-33817
    .elementor-element.elementor-element-7ed5e0a.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33817 .elementor-element.elementor-element-77954dc {
    width: auto;
    max-width: auto;
  }
  .elementor-33817
    .elementor-element.elementor-element-e6f5368
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 64px 15px 64px 15px;
  }
  .elementor-33817 .elementor-element.elementor-element-1721e80 {
    width: 543px;
    max-width: 543px;
  }
  .elementor-33817 .elementor-element.elementor-element-6942cd2 {
    width: 440px;
    max-width: 440px;
  }
}
@media (max-width: 767px) {
  .elementor-33817 .elementor-element.elementor-element-5fc4958 {
    width: 100%;
    max-width: 100%;
  }
  body:not(.rtl) .elementor-33817 .elementor-element.elementor-element-00c285a {
    left: 8px;
  }
  body.rtl .elementor-33817 .elementor-element.elementor-element-00c285a {
    right: 8px;
  }
  .elementor-33817 .elementor-element.elementor-element-00c285a {
    top: 91px;
  }
  .elementor-33817 .elementor-element.elementor-element-bad0c12 {
    padding: 64px 0px 0px 0px;
  }
  .elementor-33817 .elementor-element.elementor-element-cb6cd17 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-33817 .elementor-element.elementor-element-f39d347 {
    padding: 90px 15px 111px 15px;
  }
  .elementor-33817 .elementor-element.elementor-element-c874d6a {
    padding: 90px 15px 90px 15px;
  }
  .elementor-33817
    .elementor-element.elementor-element-e6f5368
    > .elementor-element-populated,
  .elementor-33817
    .elementor-element.elementor-element-e6f5368
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-33817
    .elementor-element.elementor-element-e6f5368
    > .elementor-background-slideshow {
    border-radius: 48px 48px 48px 48px;
  }
  .elementor-33817
    .elementor-element.elementor-element-e6f5368
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 64px 15px 64px 15px;
  }
}
