.elementor-33767
  .elementor-element.elementor-element-a98b96c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33767
  .elementor-element.elementor-element-a98b96c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff8ed;
  background-image: url("../images/slider-2-bg-1.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.elementor-33767 .elementor-element.elementor-element-a98b96c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 0px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-a98b96c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767 .elementor-element.elementor-element-cf40f5e {
  --spacer-size: 200px;
}
.elementor-33767
  .elementor-element.elementor-element-8778c2c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-8778c2c {
  width: 78.111%;
  max-width: 78.111%;
}
.elementor-33767 .elementor-element.elementor-element-ed7d5ce {
  --spacer-size: 16px;
}
.elementor-33767 .elementor-element.elementor-element-41cdee6 {
  color: var(--e-global-color-text);
  width: 100%;
  max-width: 100%;
}
.elementor-33767 .elementor-element.elementor-element-d55279a {
  --spacer-size: 58px;
}
.elementor-33767
  .elementor-element.elementor-element-ec35486
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-ec35486 {
  width: auto;
  max-width: auto;
}
.elementor-33767 .elementor-element.elementor-element-359f2c6 {
  --spacer-size: 120px;
}
.elementor-bc-flex-widget
  .elementor-33767
  .elementor-element.elementor-element-da9a3d9.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-33767
  .elementor-element.elementor-element-da9a3d9.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-33767
  .elementor-element.elementor-element-734848c
  > .elementor-widget-container {
  margin: -140px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-734848c {
  z-index: 2;
}
.elementor-33767 .elementor-element.elementor-element-cfdd316 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 120px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-cfdd316
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767
  .elementor-element.elementor-element-4640e75:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-33767
  .elementor-element.elementor-element-4640e75
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/about-bg.png");
  background-position: 110% 16%;
  background-repeat: no-repeat;
}
.elementor-33767
  .elementor-element.elementor-element-4640e75
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-33767
  .elementor-element.elementor-element-4640e75
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767 .elementor-element.elementor-element-877b416 {
  text-align: left;
}
.elementor-33767 .elementor-element.elementor-element-877b416 img {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33767 .elementor-element.elementor-element-c02b0db img {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33767 .elementor-element.elementor-element-c02b0db {
  width: auto;
  max-width: auto;
  bottom: -64px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-c02b0db {
  right: 0px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-c02b0db {
  left: 0px;
}
.elementor-33767
  .elementor-element.elementor-element-6e17352
  > .elementor-widget-container {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 24px 0px;
}
.elementor-33767 .elementor-element.elementor-element-20b2e62 {
  color: var(--e-global-color-text);
  width: 631px;
  max-width: 631px;
}
.elementor-33767
  .elementor-element.elementor-element-20b2e62
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-33767 .elementor-element.elementor-element-e9c876e {
  columns: 2;
  column-gap: 0px;
}
.elementor-33767
  .elementor-element.elementor-element-e9c876e
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
}
.elementor-33767 .elementor-element.elementor-element-d5b6051 {
  --spacer-size: 50px;
}
.elementor-33767
  .elementor-element.elementor-element-88f9023
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-88f9023 {
  width: auto;
  max-width: auto;
}
.elementor-33767 .elementor-element.elementor-element-afc25ca {
  width: auto;
  max-width: auto;
  bottom: -170px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-afc25ca {
  right: -117px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-afc25ca {
  left: -117px;
}
.elementor-33767 .elementor-element.elementor-element-2aca927 {
  padding: 50px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-1960fe7 {
  text-align: center;
}
.elementor-33767
  .elementor-element.elementor-element-1960fe7
  > .elementor-widget-container {
  padding: 0px 0px 60px 0px;
}
.elementor-33767 .elementor-element.elementor-element-ef6b16f {
  text-align: right;
}
.elementor-33767
  .elementor-element.elementor-element-ef6b16f
  > .elementor-widget-container {
  margin: 36px 0px 16px 0px;
}
.elementor-33767 .elementor-element.elementor-element-fc33c69 {
  text-align: right;
  color: var(--e-global-color-text);
}
.elementor-33767
  .elementor-element.elementor-element-fc33c69
  > .elementor-widget-container {
  margin: 0px 0px 64px 0px;
}
.elementor-33767 .elementor-element.elementor-element-0fe9588 {
  text-align: right;
}
.elementor-33767
  .elementor-element.elementor-element-0fe9588
  > .elementor-widget-container {
  margin: 0px 0px 16px 0px;
}
.elementor-33767 .elementor-element.elementor-element-19a1496 {
  text-align: right;
  color: var(--e-global-color-text);
}
.elementor-33767
  .elementor-element.elementor-element-19a1496
  > .elementor-widget-container {
  margin: 0px 0px 64px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-e6ad1b4
  > .elementor-widget-container {
  margin: 0px -40px -20px -40px;
}
.elementor-33767
  .elementor-element.elementor-element-c6e58c0
  > .elementor-widget-container {
  margin: 36px 0px 16px 0px;
}
.elementor-33767 .elementor-element.elementor-element-27a11da {
  color: var(--e-global-color-text);
}
.elementor-33767
  .elementor-element.elementor-element-27a11da
  > .elementor-widget-container {
  margin: 0px 0px 64px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-6127e6f
  > .elementor-widget-container {
  margin: 0px 0px 16px 0px;
}
.elementor-33767 .elementor-element.elementor-element-68e83d6 {
  color: var(--e-global-color-text);
}
.elementor-33767
  .elementor-element.elementor-element-68e83d6
  > .elementor-widget-container {
  margin: 0px 0px 64px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-323872f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33767
  .elementor-element.elementor-element-323872f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/home-2-parallax.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-33767 .elementor-element.elementor-element-323872f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 140px 0px 140px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-323872f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767 .elementor-element.elementor-element-1e35f1f {
  --spacer-size: 160px;
}
.elementor-33767
  .elementor-element.elementor-element-8a74ecb
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-8a74ecb {
  width: 88.074%;
  max-width: 88.074%;
}
.elementor-33767 .elementor-element.elementor-element-836fa58 {
  --spacer-size: 64px;
}
.elementor-33767
  .elementor-element.elementor-element-60de8ed
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-60de8ed {
  width: auto;
  max-width: auto;
}
.elementor-33767 .elementor-element.elementor-element-acf290b {
  --spacer-size: 160px;
}
.elementor-33767
  .elementor-element.elementor-element-3da10bc
  > .elementor-container {
  max-width: 634px;
}
.elementor-33767
  .elementor-element.elementor-element-e9a938a.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33767
  .elementor-element.elementor-element-e9a938a
  > .elementor-element-populated,
.elementor-33767
  .elementor-element.elementor-element-e9a938a
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-33767
  .elementor-element.elementor-element-e9a938a
  > .elementor-background-slideshow {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33767
  .elementor-element.elementor-element-e9a938a
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 80px 0px 64px 0px;
}
.elementor-33767 .elementor-element.elementor-element-6a0cb12 {
  text-align: center;
}
.elementor-33767
  .elementor-element.elementor-element-6a0cb12
  > .elementor-widget-container {
  margin: 0px 0px 16px 0px;
}
.elementor-33767 .elementor-element.elementor-element-9df7c51 {
  text-align: center;
  color: var(--e-global-color-text);
  width: 74.632%;
  max-width: 74.632%;
}
.elementor-33767
  .elementor-element.elementor-element-6a7e38d
  > .elementor-widget-container {
  margin: 24px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-6a7e38d {
  width: 447px;
  max-width: 447px;
}
.elementor-33767
  .elementor-element.elementor-element-be2c4e0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33767
  .elementor-element.elementor-element-be2c4e0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/faq-bg-2.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.elementor-33767 .elementor-element.elementor-element-be2c4e0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 32px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-be2c4e0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767
  .elementor-element.elementor-element-64fb033
  > .elementor-widget-container {
  padding: 0px 0px 36px 0px;
}
.elementor-33767 .elementor-element.elementor-element-054e65a {
  width: 78.301%;
  max-width: 78.301%;
}
.elementor-33767
  .elementor-element.elementor-element-491ccd4
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-33767
  .elementor-element.elementor-element-491ccd4
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-950d5ea {
  left: 325px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-950d5ea {
  right: 325px;
}
.elementor-33767 .elementor-element.elementor-element-950d5ea {
  top: -38px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-fc7f066 {
  left: -351px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-fc7f066 {
  right: -351px;
}
.elementor-33767 .elementor-element.elementor-element-fc7f066 {
  top: 626px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
  left: -343px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
  right: -343px;
}
.elementor-33767 .elementor-element.elementor-element-3d89bc1 {
  top: -2px;
}
.elementor-33767
  .elementor-element.elementor-element-e6a2831:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33767
  .elementor-element.elementor-element-e6a2831
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/testimonials-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.elementor-33767 .elementor-element.elementor-element-e6a2831 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 100px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-e6a2831
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767 .elementor-element.elementor-element-d2159aa {
  text-align: center;
}
.elementor-33767
  .elementor-element.elementor-element-d2159aa
  > .elementor-widget-container {
  padding: 0px 0px 36px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-c874d6a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-33767
  .elementor-element.elementor-element-c874d6a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/price-bg.png");
  background-position: 45% 50%;
  background-repeat: no-repeat;
}
.elementor-33767 .elementor-element.elementor-element-c874d6a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 150px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-c874d6a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767
  .elementor-element.elementor-element-033abdb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-8f26e25 {
  text-align: center;
}
.elementor-33767
  .elementor-element.elementor-element-8f26e25
  > .elementor-widget-container {
  padding: 0px 0px 36px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-29dea8b
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-9742581
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-1af063b
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-6befdb6 {
  padding: 110px 0px 128px 0px;
}
.elementor-33767 .elementor-element.elementor-element-9dc4371 {
  text-align: center;
}
.elementor-33767
  .elementor-element.elementor-element-9dc4371
  > .elementor-widget-container {
  padding: 0px 0px 48px 0px;
}
.elementor-33767 .elementor-element.elementor-element-bffa68c {
  padding: 0px 0px 120px 0px;
}
.elementor-33767
  .elementor-element.elementor-element-5ee35fc.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33767 .elementor-element.elementor-element-82e6c3a {
  width: auto;
  max-width: auto;
  top: -106px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-82e6c3a {
  left: 151px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-82e6c3a {
  right: 151px;
}
.elementor-33767 .elementor-element.elementor-element-3fea7a0 {
  width: auto;
  max-width: auto;
  top: 179px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
  left: 5px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
  right: 5px;
}
.elementor-33767 .elementor-element.elementor-element-6acff1a {
  width: auto;
  max-width: auto;
  top: 373px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-6acff1a {
  left: 1211px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-6acff1a {
  right: 1211px;
}
.elementor-33767 .elementor-element.elementor-element-2e0b646 {
  width: auto;
  max-width: auto;
  top: 249px;
}
body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-2e0b646 {
  left: 1440px;
}
body.rtl .elementor-33767 .elementor-element.elementor-element-2e0b646 {
  right: 1440px;
}
.elementor-33767
  .elementor-element.elementor-element-8c91d4b
  > .elementor-container {
  max-width: 1000px;
}
.elementor-33767
  .elementor-element.elementor-element-4d916e0.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-33767
  .elementor-element.elementor-element-4d916e0:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-33767
  .elementor-element.elementor-element-4d916e0
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/subscribe-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.elementor-33767
  .elementor-element.elementor-element-4d916e0
  > .elementor-element-populated,
.elementor-33767
  .elementor-element.elementor-element-4d916e0
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-33767
  .elementor-element.elementor-element-4d916e0
  > .elementor-background-slideshow {
  border-radius: 100px 100px 100px 100px;
}
.elementor-33767
  .elementor-element.elementor-element-4d916e0
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-33767
  .elementor-element.elementor-element-4d916e0
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-33767
  .elementor-element.elementor-element-4d916e0
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 130px 15px 79px 15px;
}
.elementor-33767 .elementor-element.elementor-element-e843046 {
  text-align: center;
}
.elementor-33767
  .elementor-element.elementor-element-e843046
  > .elementor-widget-container {
  padding: 0px 0px 32px 0px;
}
.elementor-33767 .elementor-element.elementor-element-9adf3f8 {
  text-align: center;
  color: var(--e-global-color-text);
}
.elementor-33767
  .elementor-element.elementor-element-de322e6
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-de322e6 {
  width: 480px;
  max-width: 480px;
}
.elementor-33767 .elementor-element.elementor-element-87992c2 {
  --spacer-size: 40px;
}
.elementor-33767
  .elementor-element.elementor-element-64175de
  > .elementor-widget-container {
  margin: 0px 24px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-64175de {
  width: auto;
  max-width: auto;
}
.elementor-33767
  .elementor-element.elementor-element-05e6c1d
  > .elementor-widget-container {
  margin: -6px 0px 0px 0px;
}
.elementor-33767 .elementor-element.elementor-element-05e6c1d {
  width: auto;
  max-width: auto;
}
@media (min-width: 768px) {
  .elementor-33767 .elementor-element.elementor-element-1d4dd24 {
    width: 44.748%;
  }
  .elementor-33767 .elementor-element.elementor-element-da9a3d9 {
    width: 55.21%;
  }
  .elementor-33767 .elementor-element.elementor-element-ab44d77 {
    width: 16%;
  }
  .elementor-33767 .elementor-element.elementor-element-cb35d3c {
    width: 84%;
  }
}
@media (max-width: 1599px) and (min-width: 768px) {
  .elementor-33767 .elementor-element.elementor-element-ab44d77 {
    width: 10%;
  }
}
@media (max-width: 1366px) and (min-width: 768px) {
  .elementor-33767 .elementor-element.elementor-element-cb35d3c {
    width: 100%;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .elementor-33767 .elementor-element.elementor-element-1d4dd24 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-da9a3d9 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-4640e75 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-bbccc73 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-452f900 {
    width: 50%;
  }
  .elementor-33767 .elementor-element.elementor-element-761a635 {
    width: 50%;
  }
  .elementor-33767 .elementor-element.elementor-element-49244c1 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-4071e25 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-71c9dc3 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-a355b19 {
    width: 50%;
  }
  .elementor-33767 .elementor-element.elementor-element-8875d2a {
    width: 50%;
  }
  .elementor-33767 .elementor-element.elementor-element-b1df324 {
    width: 50%;
  }
  .elementor-33767 .elementor-element.elementor-element-0ff7174 {
    width: 50%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .elementor-33767 .elementor-element.elementor-element-452f900 {
    width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-761a635 {
    width: 100%;
  }
}
@media (min-width: 1900px) {
  .elementor-33767 .elementor-element.elementor-element-8778c2c {
    width: 562px;
    max-width: 562px;
  }
  .elementor-33767 .elementor-element.elementor-element-41cdee6 {
    width: 558px;
    max-width: 558px;
  }
  .elementor-33767 .elementor-element.elementor-element-8a74ecb {
    width: 670px;
    max-width: 670px;
  }
  .elementor-33767 .elementor-element.elementor-element-9df7c51 {
    width: 472.167px;
    max-width: 472.167px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-950d5ea {
    left: 446px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-950d5ea {
    right: 446px;
  }
  .elementor-33767 .elementor-element.elementor-element-950d5ea {
    top: 41px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    left: -336px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    right: -336px;
  }
  .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    top: 502px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    left: -349px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    right: -349px;
  }
  .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    top: -8px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    left: 115px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    right: 115px;
  }
  .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    top: -91px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    left: -17px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    right: -17px;
  }
  .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    top: 146px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-6acff1a {
    left: 1215px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-6acff1a {
    right: 1215px;
  }
  .elementor-33767 .elementor-element.elementor-element-6acff1a {
    top: 392px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-2e0b646 {
    left: 1479px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-2e0b646 {
    right: 1479px;
  }
  .elementor-33767 .elementor-element.elementor-element-2e0b646 {
    top: 236px;
  }
  .elementor-33767 .elementor-element.elementor-element-de322e6 {
    width: 523px;
    max-width: 523px;
  }
}
@media (max-width: 1599px) {
  .elementor-33767 .elementor-element.elementor-element-cf40f5e {
    --spacer-size: 130px;
  }
  .elementor-33767 .elementor-element.elementor-element-8778c2c {
    width: 99.871%;
    max-width: 99.871%;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-c02b0db {
    right: 21.2px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-c02b0db {
    left: 21.2px;
  }
  .elementor-33767 .elementor-element.elementor-element-c02b0db {
    bottom: -43px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-afc25ca {
    right: -41.3px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-afc25ca {
    left: -41.3px;
  }
  .elementor-33767 .elementor-element.elementor-element-afc25ca {
    bottom: -210px;
  }
  .elementor-33767 .elementor-element.elementor-element-86a45ee {
    margin-top: 0px;
    margin-bottom: -57px;
  }
  .elementor-33767
    .elementor-element.elementor-element-e6ad1b4
    > .elementor-widget-container {
    margin: 41px -24px 0px -24px;
  }
  .elementor-33767 .elementor-element.elementor-element-8a74ecb {
    width: 99.871%;
    max-width: 99.871%;
  }
  .elementor-33767 .elementor-element.elementor-element-054e65a {
    width: 584px;
    max-width: 584px;
  }
  .elementor-bc-flex-widget
    .elementor-33767
    .elementor-element.elementor-element-491ccd4.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-33767
    .elementor-element.elementor-element-491ccd4.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-950d5ea {
    left: 276px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-950d5ea {
    right: 276px;
  }
  .elementor-33767 .elementor-element.elementor-element-950d5ea {
    top: 19px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    left: -248px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    right: -248px;
  }
  .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    top: 562px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    left: -307px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    right: -307px;
  }
  .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    top: 54px;
  }
  .elementor-33767 .elementor-element.elementor-element-6befdb6 {
    padding: 80px 0px 128px 0px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    left: -13px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    right: -13px;
  }
  .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    top: 303px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-6acff1a {
    left: 906px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-6acff1a {
    right: 906px;
  }
  .elementor-33767 .elementor-element.elementor-element-6acff1a {
    top: 367px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-2e0b646 {
    left: 1153px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-2e0b646 {
    right: 1153px;
  }
  .elementor-33767 .elementor-element.elementor-element-2e0b646 {
    top: 283px;
  }
  .elementor-33767 .elementor-element.elementor-element-de322e6 {
    width: 514px;
    max-width: 514px;
  }
}
@media (max-width: 1366px) {
  .elementor-33767 .elementor-element.elementor-element-8778c2c {
    width: 101.93%;
    max-width: 101.93%;
  }
  .elementor-bc-flex-widget
    .elementor-33767
    .elementor-element.elementor-element-da9a3d9.elementor-column
    .elementor-column-wrap {
    align-items: flex-end;
  }
  .elementor-33767
    .elementor-element.elementor-element-da9a3d9.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
  }
  .elementor-33767
    .elementor-element.elementor-element-734848c
    > .elementor-widget-container {
    margin: -80px 0px 0px 0px;
  }
  .elementor-33767
    .elementor-element.elementor-element-3ee0aa9
    > .elementor-container {
    max-width: 874px;
  }
  .elementor-33767 .elementor-element.elementor-element-86a45ee {
    margin-top: 0px;
    margin-bottom: -22px;
  }
  .elementor-bc-flex-widget
    .elementor-33767
    .elementor-element.elementor-element-08477e9.elementor-column
    .elementor-column-wrap {
    align-items: flex-end;
  }
  .elementor-33767
    .elementor-element.elementor-element-08477e9.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
  }
  .elementor-33767
    .elementor-element.elementor-element-e6ad1b4
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-33767 .elementor-element.elementor-element-8a74ecb {
    width: 101.93%;
    max-width: 101.93%;
  }
  .elementor-bc-flex-widget
    .elementor-33767
    .elementor-element.elementor-element-491ccd4.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-33767
    .elementor-element.elementor-element-491ccd4.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-950d5ea {
    left: 190px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-950d5ea {
    right: 190px;
  }
  .elementor-33767 .elementor-element.elementor-element-950d5ea {
    top: 36px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    left: -220px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    right: -220px;
  }
  .elementor-33767 .elementor-element.elementor-element-fc7f066 {
    top: 537px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    left: -221px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    right: -221px;
  }
  .elementor-33767 .elementor-element.elementor-element-3d89bc1 {
    top: 59px;
  }
  .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    width: 172px;
    max-width: 172px;
    top: -60px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    left: 15px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    right: 15px;
  }
  .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    width: 214px;
    max-width: 214px;
    top: 375px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    left: 25px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    right: 25px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-6acff1a {
    left: 859px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-6acff1a {
    right: 859px;
  }
  .elementor-33767 .elementor-element.elementor-element-6acff1a {
    top: 382px;
  }
}
@media (max-width: 1199px) {
  .elementor-33767
    .elementor-element.elementor-element-1d4dd24.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33767 .elementor-element.elementor-element-cf40f5e {
    --spacer-size: 70px;
  }
  .elementor-33767 .elementor-element.elementor-element-8778c2c {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-41cdee6 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-ec35486 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-359f2c6 {
    --spacer-size: 48px;
  }
  .elementor-33767 .elementor-element.elementor-element-cfdd316 {
    padding: 100px 0px 32px 0px;
  }
  .elementor-33767
    .elementor-element.elementor-element-4640e75.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33767 .elementor-element.elementor-element-877b416 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-c02b0db {
    text-align: right;
  }
  .elementor-33767
    .elementor-element.elementor-element-cb35d3c.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33767 .elementor-element.elementor-element-6e17352 {
    text-align: center;
  }
  .elementor-33767
    .elementor-element.elementor-element-6e17352
    > .elementor-widget-container {
    margin: 32px 0px 0px 0px;
  }
  .elementor-33767 .elementor-element.elementor-element-20b2e62 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-33767
    .elementor-element.elementor-element-20b2e62
    > .elementor-widget-container {
    margin: 0px 0px 48px 0px;
  }
  .elementor-33767
    .elementor-element.elementor-element-e9c876e
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-33767 .elementor-element.elementor-element-e9c876e {
    width: 532px;
    max-width: 532px;
  }
  .elementor-33767 .elementor-element.elementor-element-d5b6051 {
    --spacer-size: 20px;
  }
  .elementor-33767 .elementor-element.elementor-element-88f9023 {
    text-align: center;
  }
  .elementor-33767
    .elementor-element.elementor-element-452f900
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 0px;
  }
  .elementor-33767 .elementor-element.elementor-element-ef6b16f {
    text-align: right;
  }
  .elementor-33767
    .elementor-element.elementor-element-761a635
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 15px;
  }
  .elementor-33767
    .elementor-element.elementor-element-49244c1.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-33767 .elementor-element.elementor-element-1e35f1f {
    --spacer-size: 48px;
  }
  .elementor-33767 .elementor-element.elementor-element-8a74ecb {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-60de8ed {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-acf290b {
    --spacer-size: 90px;
  }
  .elementor-33767 .elementor-element.elementor-element-64fb033 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-054e65a {
    width: 100%;
    max-width: 100%;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    left: 639px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    right: 639px;
  }
  .elementor-33767 .elementor-element.elementor-element-82e6c3a {
    top: -105px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    left: -66px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    right: -66px;
  }
  .elementor-33767 .elementor-element.elementor-element-3fea7a0 {
    top: 427px;
  }
  body:not(.rtl) .elementor-33767 .elementor-element.elementor-element-6acff1a {
    left: 678px;
  }
  body.rtl .elementor-33767 .elementor-element.elementor-element-6acff1a {
    right: 678px;
  }
  .elementor-33767 .elementor-element.elementor-element-6acff1a {
    top: 445px;
  }
}
@media (max-width: 991px) {
  .elementor-33767 .elementor-element.elementor-element-cf40f5e {
    --spacer-size: 60px;
  }
  .elementor-33767 .elementor-element.elementor-element-359f2c6 {
    --spacer-size: 64px;
  }
  .elementor-33767 .elementor-element.elementor-element-e9c876e {
    columns: 2;
  }
  .elementor-33767 .elementor-element.elementor-element-ef6b16f {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-fc33c69 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-0fe9588 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-19a1496 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-c6e58c0 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-27a11da {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-6127e6f {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-68e83d6 {
    text-align: center;
  }
  .elementor-33767 .elementor-element.elementor-element-323872f {
    padding: 70px 0px 70px 0px;
  }
  .elementor-33767
    .elementor-element.elementor-element-4d916e0
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 64px 15px 64px 15px;
  }
  .elementor-33767 .elementor-element.elementor-element-e843046 {
    width: 543px;
    max-width: 543px;
  }
  .elementor-33767 .elementor-element.elementor-element-de322e6 {
    width: 440px;
    max-width: 440px;
  }
}
@media (max-width: 767px) {
  .elementor-33767 .elementor-element.elementor-element-ec35486 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-e9c876e {
    columns: 1;
  }
  .elementor-33767 .elementor-element.elementor-element-88f9023 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-33767 .elementor-element.elementor-element-60de8ed {
    width: 100%;
    max-width: 100%;
  }
  .elementor-33767
    .elementor-element.elementor-element-e9a938a
    > .elementor-element-populated,
  .elementor-33767
    .elementor-element.elementor-element-e9a938a
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-33767
    .elementor-element.elementor-element-e9a938a
    > .elementor-background-slideshow {
    border-radius: 40px 40px 40px 40px;
  }
  .elementor-33767
    .elementor-element.elementor-element-e9a938a
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 80px 15px 64px 15px;
  }
  .elementor-33767
    .elementor-element.elementor-element-71c9dc3
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-33767
    .elementor-element.elementor-element-4d916e0
    > .elementor-element-populated,
  .elementor-33767
    .elementor-element.elementor-element-4d916e0
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-33767
    .elementor-element.elementor-element-4d916e0
    > .elementor-background-slideshow {
    border-radius: 48px 48px 48px 48px;
  }
  .elementor-33767
    .elementor-element.elementor-element-4d916e0
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 64px 15px 64px 15px;
  }
}
